Kütüphanelerin import edilmesi.

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import tensorflow as tf
import keras
from keras import layers
from keras.models import Sequential
from keras.layers import Dense, Dropout
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense, Dropout

Veri setinin kolon isimlerinin Türkçe olacak şekilde okunması.

In [2]:
df=pd.read_csv('bank-additional-full.csv', sep=';',)
df.columns = ['yas', 'meslek', 'medeni_hal', 'egitim_durumu','temerrud_durumu','ev_durumu','borc_durumu','iletisim_tipi', 'ay', 'gun',
              'son_gorusme','kampanya_musteri_sayisi', 'son_kampanya_gorusme', 'bu_kampanya_son_gorusme','onceki_kampanya_sonuc',
               'is_degisim_orani','tuketici_fiyat_endeksi', 'tuketici_guven_endeksi', 'euribor_oran', 'calisan_sayisi', 'uygun_mu']
df.head()

,yas,meslek,medeni_hal,egitim_durumu,temerrud_durumu,ev_durumu,borc_durumu,iletisim_tipi,ay,gun,...,kampanya_musteri_sayisi,son_kampanya_gorusme,bu_kampanya_son_gorusme,onceki_kampanya_sonuc,is_degisim_orani,tuketici_fiyat_endeksi,tuketici_guven_endeksi,euribor_oran,calisan_sayisi,uygun_mu
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

Diğer algoritmalar için hesaplanan düşük korelasyonlu kolonlar çıkarıldı.

In [3]:
df.drop(columns=[
    'calisan_sayisi','son_kampanya_gorusme','euribor_oran','is_degisim_orani',
    'tuketici_fiyat_endeksi','iletisim_tipi','ay','kampanya_musteri_sayisi', 'gun'
    ], axis=0, inplace=True)

Label Encoding işlemi yapıldı

In [4]:
dict_meslek = {
    "meslek":{
        "housemaid":1,
        "unemployed":0,
        "entrepreneur":1,
        "blue-collar":1,
        "services":1,
        "admin.":1,
        "technician":1,
        "retired":1,
        "management":1,
        "self-employed":1,
        "unknown":0,
        "student":0
    }}
dict_egitim_durumu = {
    "egitim_durumu":{
        "basic.4y":1,
        "basic.6y":1,
        "basic.9y":1,
        "high.school":1,
        "professional.course":1,
        "university.degree":1,
        "illiterate":0,
        "unknown":0
    }}

dict_onceki_kampanya_sonuc = {
    "onceki_kampanya_sonuc":{
        "nonexistent":0,
        "failure":0,
        "success":1
    }}
dict_uygun_mu = {
    "uygun_mu":{
        "no":0,
        "yes":1
    }}
for i in [dict_onceki_kampanya_sonuc,dict_uygun_mu, dict_egitim_durumu, dict_meslek]:
    df.replace(i,inplace=True)
df.head(5)

,yas,meslek,medeni_hal,egitim_durumu,temerrud_durumu,ev_durumu,borc_durumu,son_gorusme,bu_kampanya_son_gorusme,onceki_kampanya_sonuc,tuketici_guven_endeksi,uygun_mu
0,56,1,married,1,no,no,no,261,0,0,-36.4,0
1,57,1,married,1,unknown,no,no,149,0,0,-36.4,0
2,37,1,married,1,no,yes,no,226,0,0,-36.4,0
3,40,1,married,1,no,no,no,151,0,0,-36.4,0
4,56,1,married,1,no,no,yes,307,0,0,-36.4,0

In [5]:
lc_X1 = LabelEncoder()
list = ['medeni_hal','temerrud_durumu','ev_durumu','borc_durumu']

for i in list:
    df[i] = lc_X1.fit_transform(df[i])
df_1 = pd.get_dummies(df,
                       columns=['medeni_hal','temerrud_durumu','ev_durumu','borc_durumu'],
                       drop_first=True)
df.head()

,yas,meslek,medeni_hal,egitim_durumu,temerrud_durumu,ev_durumu,borc_durumu,son_gorusme,bu_kampanya_son_gorusme,onceki_kampanya_sonuc,tuketici_guven_endeksi,uygun_mu
0,56,1,1,1,0,0,0,261,0,0,-36.4,0
1,57,1,1,1,1,0,0,149,0,0,-36.4,0
2,37,1,1,1,0,2,0,226,0,0,-36.4,0
3,40,1,1,1,0,0,0,151,0,0,-36.4,0
4,56,1,1,1,0,0,2,307,0,0,-36.4,0

Veri setini üç boyutlu hale getirebilmek için 'son_gorusme' kolonu zaman serisi haline getirildi.

In [6]:
df['son_gorusme']=pd.to_datetime(df['son_gorusme'],dayfirst=True)
df['son_gorusme']=pd.Series(pd.date_range(start='2015-1-1',end='2021-1-1',periods=41188))
df['son_gorusme']

0       2015-01-01 00:00:00.000000000
1       2015-01-01 01:16:38.266443295
2       2015-01-01 02:33:16.532886590
3       2015-01-01 03:49:54.799329885
4       2015-01-01 05:06:33.065773180
                     ...
41183   2020-12-31 18:53:26.934226848
41184   2020-12-31 20:10:05.200670144
41185   2020-12-31 21:26:43.467113408
41186   2020-12-31 22:43:21.733556704
41187   2021-01-01 00:00:00.000000000
Name: son_gorusme, Length: 41188, dtype: datetime64[ns]

In [7]:
df.columns

Index(['yas', 'meslek', 'medeni_hal', 'egitim_durumu', 'temerrud_durumu',
       'ev_durumu', 'borc_durumu', 'son_gorusme', 'bu_kampanya_son_gorusme',
       'onceki_kampanya_sonuc', 'tuketici_guven_endeksi', 'uygun_mu'],
      dtype='object')

Verinin dönüştürülmesi işlemi. Her özellik için bir liste oluşturuldu.

In [8]:
x0=[]
x1=[]
x2=[]
x3=[]
x4=[]
x5=[]
x6=[]
x7=[]
x8=[]
x9=[]
x10=[]
x11=[]
y=[]

Veri setimizdeki 41188 adet veriyi, en büyük asal olmayan çarpanı (28) kadar kaydırarak oluşturduğumuz boş listelere atıyoruz.

In [9]:
for i in range (0, df.shape[0]-28):
    x0.append(df.iloc[i:i + 28, 0])
    x1.append(df.iloc[i:i + 28, 1])
    x2.append(df.iloc[i:i + 28, 2])
    x3.append(df.iloc[i:i + 28, 3])
    x4.append(df.iloc[i:i + 28, 4])
    x5.append(df.iloc[i:i + 28, 5])
    x6.append(df.iloc[i:i + 28, 6])
    x7.append(df.iloc[i:i + 28, 7])
    x8.append(df.iloc[i:i + 28, 8])
    x9.append(df.iloc[i:i + 28, 9])
    x10.append(df.iloc[i:i + 28, 10])
    x11.append(df.iloc[i:i + 28, 11])
    y.append(df.iloc[i + 28, 11])

Bu listeleri numpy arraylerine dönüştürüyoruz.

In [10]:
x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,y= np.array(x0),np.array(x1),np.array(x2),np.array(x3),np.array(x4),np.array(x5), np.array(x6),np.array(x7),np.array(x8),np.array(x9),np.array(x10),np.array(x11), np.array(y)

In [11]:
y=np.reshape(y, (len(y),1))

Verileri skaler hale getiriyoruz.

In [12]:
scaler = MinMaxScaler(feature_range=(0,1))
x0 = scaler.fit_transform(x0)
x1 = scaler.fit_transform(x1)
x2 = scaler.fit_transform(x2)
x3 = scaler.fit_transform(x3)
x4 = scaler.fit_transform(x4)
x5 = scaler.fit_transform(x5)
x6 = scaler.fit_transform(x6)
x7 = scaler.fit_transform(x7)
x8 = scaler.fit_transform(x8)
x9 = scaler.fit_transform(x9)
x10 = scaler.fit_transform(x10)
x11 = scaler.fit_transform(x11)
y = scaler.fit_transform(y)

En son olarak oluşturulan listeler stack yapısına aktarılıyor.

In [13]:
X = np.stack([x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11], axis=2)

Veri setinin parçalanması

In [14]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=101)

In [20]:
y_train.shape

(32928, 1)

SimpleRNN yapısı

In [16]:
model=Sequential()
model.add(keras.Input(shape=(28,12)))
model.add(layers.SimpleRNN(128, return_sequences=True, activation='relu'))
model.add(Dropout(0.2))
model.add(layers.SimpleRNN(128, return_sequences=False, activation='relu'))
model.add(Dropout(0.2))
model.add(layers.Dense(10))
model.summary()

loss = keras.losses.SparseCategoricalCrossentropy(from_logits=True)
opt=keras.optimizers.Adam(lr=0.001)
metrics = ["accuracy"]

model.compile(loss=loss, optimizer=opt, metrics=metrics)

model.fit(X_train, y_train, batch_size=64, epochs=5, verbose=2)

model.evaluate(X_test, y_test, batch_size=64, verbose=2)

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 simple_rnn (SimpleRNN)      (None, 28, 128)           18048

 dropout (Dropout)           (None, 28, 128)           0

 simple_rnn_1 (SimpleRNN)    (None, 128)               32896

 dropout_1 (Dropout)         (None, 128)               0

 dense (Dense)               (None, 10)                1290

=================================================================
Total params: 52,234
Trainable params: 52,234
Non-trainable params: 0
_________________________________________________________________
Epoch 1/5

C:\Users\hasanbatuhan.gokce\AppData\Roaming\Python\Python39\site-packages\keras\optimizers\optimizer_v2\adam.py:110: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(Adam, self).__init__(name, **kwargs)

515/515 - 8s - loss: 0.3207 - accuracy: 0.8841 - 8s/epoch - 15ms/step
Epoch 2/5
515/515 - 7s - loss: 0.2917 - accuracy: 0.8874 - 7s/epoch - 13ms/step
Epoch 3/5
515/515 - 7s - loss: 0.2886 - accuracy: 0.8860 - 7s/epoch - 13ms/step
Epoch 4/5
515/515 - 7s - loss: 0.2881 - accuracy: 0.8866 - 7s/epoch - 13ms/step
Epoch 5/5
515/515 - 7s - loss: 0.2862 - accuracy: 0.8877 - 7s/epoch - 13ms/step
129/129 - 1s - loss: 0.2811 - accuracy: 0.8910 - 868ms/epoch - 7ms/step

[0.2810571491718292, 0.8910349607467651]

GRU yapısı

In [17]:
model=Sequential()
model.add(keras.Input(shape=(28,12)))
model.add(layers.GRU(128, return_sequences=True, activation='relu'))
model.add(Dropout(0.2))
model.add(layers.GRU(128, return_sequences=False, activation='relu'))
model.add(Dropout(0.2))
model.add(layers.Dense(10))
model.summary()

loss = keras.losses.SparseCategoricalCrossentropy(from_logits=True)
opt=keras.optimizers.Adam(lr=0.001)
metrics = ["accuracy"]

model.compile(loss=loss, optimizer=opt, metrics=metrics)

model.fit(X_train, y_train, batch_size=64, epochs=5, verbose=2)

model.evaluate(X_test, y_test, batch_size=64, verbose=2)

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 gru (GRU)                   (None, 28, 128)           54528

 dropout_2 (Dropout)         (None, 28, 128)           0

 gru_1 (GRU)                 (None, 128)               99072

 dropout_3 (Dropout)         (None, 128)               0

 dense_1 (Dense)             (None, 10)                1290

=================================================================
Total params: 154,890
Trainable params: 154,890
Non-trainable params: 0
_________________________________________________________________
Epoch 1/5
515/515 - 24s - loss: 0.3441 - accuracy: 0.8842 - 24s/epoch - 46ms/step
Epoch 2/5
515/515 - 24s - loss: 0.2867 - accuracy: 0.8884 - 24s/epoch - 46ms/step
Epoch 3/5
515/515 - 25s - loss: 0.2856 - accuracy: 0.8890 - 25s/epoch - 48ms/step
Epoch 4/5
515/515 - 24s - loss: 0.2844 - accuracy: 0.8886 - 24s/epoch - 47ms/step
Epoch 5/5
515/515 - 24s - loss: 0.2847 - accuracy: 0.8888 - 24s/epoch - 47ms/step
129/129 - 2s - loss: 0.2779 - accuracy: 0.8921 - 2s/epoch - 15ms/step

[0.2778799533843994, 0.8921282887458801]

RNN yapısı

In [18]:
model = Sequential([
    layers.Flatten(input_shape=(28,12)),
    layers.Dense(128, activation='relu'),
    layers.Dropout(0.2),
    layers.Dense(128, activation='relu'),
    layers.Dropout(0.2),
    layers.Dense(10),
    ])
model.summary()

loss=keras.losses.SparseCategoricalCrossentropy(from_logits=True)
opt=keras.optimizers.Adam(lr=0.001)
metrics=["accuracy"]

model.compile(loss=loss, optimizer=opt, metrics=metrics)

model.fit(X_train, y_train, batch_size=64, epochs=10, verbose=2)

model.evaluate(X_test, y_test, batch_size=64,verbose=2)

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 flatten (Flatten)           (None, 336)               0

 dense_2 (Dense)             (None, 128)               43136

 dropout_4 (Dropout)         (None, 128)               0

 dense_3 (Dense)             (None, 128)               16512

 dropout_5 (Dropout)         (None, 128)               0

 dense_4 (Dense)             (None, 10)                1290

=================================================================
Total params: 60,938
Trainable params: 60,938
Non-trainable params: 0
_________________________________________________________________
Epoch 1/10
515/515 - 1s - loss: 0.3171 - accuracy: 0.8828 - 1s/epoch - 3ms/step
Epoch 2/10
515/515 - 1s - loss: 0.2907 - accuracy: 0.8885 - 943ms/epoch - 2ms/step
Epoch 3/10
515/515 - 1s - loss: 0.2866 - accuracy: 0.8896 - 977ms/epoch - 2ms/step
Epoch 4/10
515/515 - 1s - loss: 0.2855 - accuracy: 0.8886 - 995ms/epoch - 2ms/step
Epoch 5/10
515/515 - 1s - loss: 0.2858 - accuracy: 0.8905 - 1s/epoch - 2ms/step
Epoch 6/10
515/515 - 1s - loss: 0.2825 - accuracy: 0.8918 - 981ms/epoch - 2ms/step
Epoch 7/10
515/515 - 1s - loss: 0.2822 - accuracy: 0.8919 - 1s/epoch - 2ms/step
Epoch 8/10
515/515 - 1s - loss: 0.2829 - accuracy: 0.8909 - 1s/epoch - 2ms/step
Epoch 9/10
515/515 - 1s - loss: 0.2822 - accuracy: 0.8922 - 1s/epoch - 2ms/step
Epoch 10/10
515/515 - 1s - loss: 0.2812 - accuracy: 0.8936 - 1s/epoch - 2ms/step
129/129 - 0s - loss: 0.2878 - accuracy: 0.8909 - 219ms/epoch - 2ms/step

[0.2878361642360687, 0.8909134864807129]

LSTM Yapısı

In [19]:
model = Sequential()
model.add(tf.keras.layers.LSTM(128, input_shape=(X_train.shape[1:]), activation = 'relu', return_sequences = True))
model.add(Dropout(0.2))

model.add(tf.keras.layers.LSTM(128, activation='relu'))
model.add(Dropout(0.2))


model.add(Dense(10, activation='relu'))

opt = tf.keras.optimizers.Adam(lr=0.001, decay=0.001)

model.compile(loss=loss,
optimizer=opt,
metrics=['accuracy'] )

model.fit(x=X_train, y=y_train, batch_size=10,epochs=10)

Epoch 1/10
3293/3293 [==============================] - 76s 23ms/step - loss: 0.3401 - accuracy: 0.8853
Epoch 2/10
3293/3293 [==============================] - 72s 22ms/step - loss: 0.2873 - accuracy: 0.8873
Epoch 3/10
3293/3293 [==============================] - 71s 22ms/step - loss: 0.2856 - accuracy: 0.8888
Epoch 4/10
3293/3293 [==============================] - 74s 22ms/step - loss: 0.2842 - accuracy: 0.8878
Epoch 5/10
3293/3293 [==============================] - 72s 22ms/step - loss: 0.2839 - accuracy: 0.8892
Epoch 6/10
3293/3293 [==============================] - 72s 22ms/step - loss: 0.2830 - accuracy: 0.8904
Epoch 7/10
3293/3293 [==============================] - 70s 21ms/step - loss: 0.2828 - accuracy: 0.8903
Epoch 8/10
3293/3293 [==============================] - 67s 20ms/step - loss: 0.2830 - accuracy: 0.8898
Epoch 9/10
3293/3293 [==============================] - 68s 21ms/step - loss: 0.2828 - accuracy: 0.8888
Epoch 10/10
3293/3293 [==============================] - 68s 21ms/step - loss: 0.2829 - accuracy: 0.8893